* {
	padding: 0;
	margin: 0;
}
a:link {
	color:#991818;
	font-weight:bold;
	text-decoration:none
}
a:hover {
	color:#991818;
	font-weight:bold;
	text-decoration:underline;
}
a:active {
	color:#991818;
	font-weight:bold;
	text-decoration:none
}
a {
	color:#991818;
	font-weight:bold;
	text-decoration:none
}
img {
	margin:0px 15px
}
body {
	background-image: url('back_xs.jpg');
	padding: 20px;
	font-family: "Palatino Linotype", Times, serif;
	font-size: 15px;
	color: #000000;
	background-color: #CDC7B1;
/* page background color */
	height:100%;
	width: 960px;
	margin: 8px auto;
	line-height: 1.231;
}
p {
	margin-top: 10px;
	margin-bottom: 20px;
}
hr {
	height: 1px;
	color:#782F26;
	background-color:#782F26;
	width: 90%;
}
.body {
	padding-left:2em
}
/* style for entire page */
#wrap {
	background-image: url('fore_xs.jpg');
	border: 7px solid #FFFBFB;
	background-color: #E7E3D8;
/* table background color */
	width:960px;
	padding-bottom: 35px;
}
/* style for the content between the header and footer only */
.content {
	padding-left:25px;
	padding-right:25px;
	height:100%;
}
div.box {
	background-color: #FFFAF0;
	padding: 10px 20px;
	margin-top: 40px;
	margin-bottom: 40px;
	border: 4px double #DCDCDC;
}
.head {
	color: white;
	font-size:15pt;
	text-align:left;
	padding-right: 1em;
	padding-left:1em;
	margin-top: 0ex;
	padding-top: 1ex;
	padding-bottom: 1ex
}
.para {
	color:#000000;
	margin-top: 2ex;
	margin-bottom:2ex;
	font-size: 12pt;
	padding-left:2em;
	padding-right:2em
}
/* styling for bibl entry */
.bibl {
	background-color: #FFFAF0;
	border: 4px double #DCDCDC;
	padding: 15px;
	margin-top:2ex;
	margin-left: 15px;
	margin-right: 15px;
}
p.notepara {
	color: #531B15;
	margin-left: 4em;
	margin-right: 4em;
	font-size: 11pt
}
.search_box {
	margin-bottom:8px;
}
.search_results_table {
	width:100%;
}
/* each page of results is styled to put padding between the results as a whole and the paging rows */
.search_results {
	padding-top:20px;
	padding-bottom:20px;
}
/* individual search results have padding */
.result_even {
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5px;
	padding-right:5px;
}
/* individual search results have padding bgcolor */
.result_odd {
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5px;
	padding-right:5px;
	background-color:#FFFBFB;
}
/* the input box for each form has a bottom margin to put space between the text box and label */
.search_box {
	margin-bottom:8px;
}
.smallhead {
	color: white;
	font-size: 12pt;
	margin-top:1ex;
	margin-bottom:1ex
}
.smallpara {
	margin-bottom:2ex;
	padding-left:2em;
	padding-right:2em;
	color: #000000;
	font-size: 10pt
}
.foot {
	color: black;
	font-size: 10pt;
	text-align:left;
	padding-left:1em;
	background-color: #E7E3D8;
	margin-top: 0ex;
	padding-top: 1ex;
	padding-bottom: 1ex
}
#head {
	margin: 20px 75px;
}
#headImg {
	width: 330px;
	float: left;
}
#headImg img {
	margin: 0 5px;
}
#headTitle {
	width: 460px;
	color: #991818;
	font-size: 22pt;
	font-weight: bold;
	float: left;
}

#headTitle small {
    display: block;
}

#byline {
	margin-left: 630px;
	margin-top: -5px;
	margin-bottom: 18px;
}
.headBorder {
	background:transparent url(border.gif) repeat-x scroll left bottom;
	width: 780px;
	height: 20px;
	clear: both;
}
p#subheading {
	font-size:10pt;
	text-align: center;
	background: transparent;
	border: none;
	margin: 10px;
}
.navigation {
	color: black;
	font-size: 10pt;
	width:700px;
	text-align:left;
	border-style: solid;
	border-color: black;
	border-width:1px;
	padding-left:1em;
	background-color: #E7E3D8;
	margin-bottom: 2ex;
	margin-top: 0ex;
	padding-top: 1ex;
	padding-bottom: 1ex
}
#navbar {
	height: 19px;
	text-align: center;
	padding: 5px 0px 3px;
	margin: 10px 0px;
	overflow: hidden;
	border-bottom: 3px solid #FFF7F7;
}
#navbar a {
	padding: 5px 10px 8px;
	margin: 0;
	font-size: 14px;
}
#navbar a.selected {
	background: #FFFBFB;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
}
.divider {
	width: 400px;
	height: 3px;
	background: #FFFBFB;
	margin: 0px 270px 10px;
}
#subNav {
	height: 18px;
	text-align: center;
	padding: 6px 0px 3px;
	margin: 10px 0px;
	border-bottom: 3px solid #FFFBFB;
	overflow: hidden;
}
#subNav a {
	padding: 6px 10px 7px;
	margin-left: 0px;
	font-size: 10pt;
	color: #991818;
	vertical-align:bottom;
}
#subNav a.selected {
	background: #FFFBFB;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
}
.head1 {
	color: #531B15;
	font-size: 15pt;
	margin-left:15px;
	margin-bottom: 2ex;
	font-weight:bold;
	margin-top: 1em;
}
.head2 {
	color: #B22222;
	font-weight: bold;
	font-size: 12pt;
	margin-left: 15px;
	margin-top: 2ex;
	margin-bottom: 2ex;
	text-align: left;
}
.right {
	text-align: right;
	margin-right: 3em
}
.listhead {
	font-weight:bold;
	font-size:12pt;
	text-align:center
}
.paracenter {
	text-align: center
}
.headfoot a {
	margin-left: 120px;
}
.list {
	margin-left: 2em;
	margin-right: 2em;
	font-size:12pt
}
.note {
	color: #000033;
	line-height: 14pt;
	margin-left: 8em;
	margin-right: 6em;
	margin-top: 1ex;
	font-size: 10pt
}
.smallcaps {
	text-transform:uppercase;
	font-size:10pt
}
.smallcaps2 {
	text-transform:uppercase;
	font-size:14pt
}
.illus {
	text-align: center;
	font-size: 10pt;
}
.illus img {
	max-width: 100px;
	max-height: 100px;
	margin: 0px;
	cursor: pointer;
}
#image-wrap {
	background: #F7F7F7;
	font-size: 18pt;
}
#image-wrap img {
	max-width: 900px;
}
div.illus {
	float: left;
	padding: 15px 5px;
	width: 70px;
	height: 70px;
	overflow: visible;
}
p.block {
	padding-left: 5em;
	padding-right: 5em;
}
p.indent {
	text-indent: 5em;
}
/* highlighted search text is yellow */
.searchword {
	background-color:yellow;
	color:black;
}
td.mosaic {
	padding-left: 42px;
	padding-right: 42px;
	padding-bottom: 0px;
}
tr.spacer {
	height: 30px;
}
td.mosaic img {
	height: 80px;
	width: 75px;
	margin: 0px;
	padding: 0px;
	border: none;
	border: 1px solid #FFFBFB;
}
#popMarkup {
	padding: 10px;
}
.isHi {
	background-color: #FEDDCA !important;
}
#popChart {
	width: 870px;
	background: #FFFFFF;
	border-collapse: collapse	;
}
#popChart tr.odd {
	background: #EFEFEF;
}
#popChart tr.even {
	background: #FFFFFF;
}
#popChart tr.odd td.sorting_1 {
	background: #E2E2E2;
}
#popChart tr.even td.sorting_1 {
	background: #F2F2F2;
}
#popChart tr th {
	cursor: pointer;
	padding: 5px 20px;
	border: 1px solid #444;
}
#popChart tr td {
	border: 1px	solid #888;
	padding: 2px 20px;
}
#popChart tr td.datahi {
	background: #FFCCCC;
}
#popChart tr td.datahi.sorting_1 {
	background: #FFA5A5;
}
#popChart_filter {
	float: right;
	width: auto;
	text-align: left;
	margin: -35px 0;
}
#popChart_filter input {
	border: 1px solid #888;
	padding: 4px;
}
#page-nav {
	text-align: center;
	margin: 10px 0px;
	padding: 5px 0px 2px;
	border-bottom: 3px solid #FFFBFB;
	overflow: hidden;
}
#page-nav a {
	padding:3px 6px 3px;
	text-decoration:none;
	margin-left:1px;
	margin-right:1px;
	font-size: 10pt;
	vertical-align:bottom;
}
#page-nav .selected {
	background: #FFFBFB;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
}
#page-nav .no-entries {
	color: #000000;
	font-weight: normal;
}
#page-nav .page-link {
	background-color:#FFFBFB;
	border:1px solid #CBCBCB;
}
#page-nav .current {
	background-color:#FFFBFB;
	border:1px solid #FFFFFF;
	padding:2px 6px;
	text-decoration:none;
	margin-left:1px;
	margin-right:1px;
}
#results-count {
	margin-left: 15px;
	font-weight:bold;
}
.bibl .jcarousel-skin-tango {
	width: 700px;
}
.bibl .jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 100%;
	height: 160px;
	background: #FFFAF0;
	border: none;
}
.bibl .jcarousel-skin-tango .jcarousel-clip-horizontal {
	height: 170px;
	width: 100%;
}
.bibl .jcarousel-skin-tango .jcarousel-container-horizontal ul {
	height: 170px;
}
.bibl .jcarousel-skin-tango .jcarousel-next-horizontal,
.bibl .jcarousel-skin-tango .jcarousel-prev-horizontal {
	top: 55px;
}
.bibl img {
	max-height: 75px;
	max-width: 75px;
	border: none;
}
#TB_overlay {
	background: #DDD;
	opacity: 0.7;
	filter:alpha(opacity=70);
	-moz-opacity:.7;
}
.yui-skin-sam .yui-dt table {
	font-family: "Palatino Linotype",Times,serif !important;
}
.yui-dt0-col-name {
	width: 300px !important;
}
.yui-dt-col-1 {
	width: 200px !important;
}
.yui-skin-sam .yui-dt-liner {
	padding: 4px 6px;
}
#hd {
	width: 700px;
	font-size: 14px;
	font-weight: normal;
	margin: inherit;
}
#bd {
	margin: inherit;
}
#intro {
	background-color: #FFFAF0;
	border: 8px solid #766;
	display:block;
	width:99%;
	padding:20px 0;
	margin-left:auto;
	margin-right:auto;
	height: 320px;
}

#intro h1 {
    font-size: 24px;
}

#intro h2 {
    font-size: 18px;
}

#intro #data {
	width: 500px;
	float: right;
}

.pic {
	float: left;
	/*margin-right: 20px;
	width: 35%;*/
}
/*.pic .carousel {
	margin: 10px 20px;
}*/
.pic .full {
	width: 210px;
	max-height: 210px;
	overflow: hidden;
	margin: 0 52px;
	border: 4px solid #766;
	position: relative;
}
.pic .full img {
	width: 210px;
	min-height: 210px;
	position: relative;
	margin: 0;
}
.carousel .jcarousel-skin-tango .jcarousel-container {
	background: none;
	border: none;
}
.bio, .essay {
	display: block;
	margin: 20px 0;
	border-bottom:1px dotted gray;
	padding-bottom:10px;
}
.endnote {
	margin-bottom:20px;
	margin-left:20px;
}
ul.links {
	list-style-type:none;
	margin-bottom:25px;
}
.toggle_link {
	cursor:pointer;
	margin-left:25px;
	padding-top:10px;
	font-size: 15px;
}
.links .item {
	margin-bottom:10px;
}
#cbw_search, #pop_link {
	margin-bottom:10px;
}
dl {
	margin:0 0 25px 25px;
}
dl>div {
	display:table;
	width:100%;
}
dt {
	font-style:italic;
	float:left;
	width:50px;
}
dd {
	margin-left:50px;
}
#intro .jcarousel-skin-tango .jcarousel-container-horizontal, #intro .jcarousel-skin-tango .jcarousel-clip-horizontal{
    width: 240px;
}
#milestones h3{
    margin: 10px 0 0 25px;
    font-size: 16px;
}

#milestones .ms-desc {
    font-size: 12px;
    display: block;
}

#intro .carousel img {
    margin: 0;
    width: 75px;
    }

#intro .carousel li {
    margin-right: 5px;
    overflow: hidden;
}
.dataTables_info {
	font-size: 80%;
}
#featured-container .jcarousel-skin-tango .jcarousel-container {
	background: transparent;
	border: 10px solid #A7908C;
}
#featured-container .jcarousel-skin-tango .jcarousel-item {
	height: auto !important;
	width: auto !important;
}
#featured-container .jcarousel-skin-tango .jcarousel-clip-horizontal {
	height: 520px !important;
	width: 340px !important;
}
#featured-container .jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 340px !important;
	margin: 20px;
	background: #FFF9F9;
}

#featured-container .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal, 
#featured-container .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
#featured-container .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active,
#featured-container .jcarousel-skin-tango .jcarousel-next-horizontal,
#featured-container .jcarousel-skin-tango .jcarousel-prev-horizontal {
	margin-top: 160px;
}
#top-container {
	width: 90%;
	margin-left:auto;
	margin-right:auto;
}
#sidebar {
	width: 35%;
	float:right;
	background: #FFF5F0;
	margin: 20px;
	padding: 5px;
	min-height: 290px;
	list-style:inside;
}
#sidebar p, #sidebar ul {
	padding: 0 5px;
}
#featured-container {
	float: left;
}
#featured-container img {
	margin: 0 20px;
}
#featured-container .featured-cap {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	background: #FFF5F5;
	padding: 2px 3px;
	margin: 0 20px;
	height: 5em;
	width: 294px;
}
#wrap {
	min-height: 900px;
}
#viz {
	width: 35%;
	float: right;
	height: 200px;
	background: #444;
	padding: 5px;
	margin: 20px;
	overflow: hidden;
}
#viz img {
	width: 100%;
	height: 100%;
	margin: 0;
}
#topics {
	clear:both; 
	margin: 10px 20px;
}
#accordion {
	width: 90%;
	margin: 10px auto;
}
.subnav {
	text-align: center;
}

.subnav a:link {
	color: #531B15;
}

/*  Footer styles */
#footer {
	width: 90%;
	margin: 20px auto 0;
	clear: both;
}

#footer_contact {
	width: 15.7em;
	float: right;
	display: inline;
}

#footer_info {
	margin: 0 0 0 20em;
    width: 45em;
	float: left;
	display: inline;
}

#ft {
	border-top: 1px solid #531B15;
	color:#333132;
	font-size:12px;
	height:80px;
	margin: 0 20px;
}
#ft img {
	margin: 0;
}
#ft a, #ft a:visited {
	color:#333132;
	text-decoration:none;
}
#ft a:hover {
color:#535152;
}
#util_container {
display:block;
float:right;
padding-right:10px;
text-align:right;
width:300px;
}
#ft_wrap {
margin:auto !important;
padding-top:20px;
}
#ft_wrap img {
border:none;
}
#footer #ft_wrap a {
border: none;
}
.scholars_lab_logo {
border-left:1px dotted #333132;
display:block;
float:right;
height:60px;
padding-left:10px;
}
.scholars_lab_logo img {
height:30px;
padding-top:15px;
}
#ft .contact {
display:block;
height:18px;
}
#ft .contact img {
display:inline;
height:18px;
margin-left:5px;
margin-top: 5px;
vertical-align:bottom;
}
