A:link {color:#991818; font-weight:bold; text-decoration:none} 
A:visited{color:#57744C; font-weight:bold; text-decoration:none} 
A:hover{color:#991818; font-weight:bold; text-decoration:none}
A:active{color:#57744C; font-weight:bold; text-decoration:none}
A {color:#57744C; font-weight:bold; text-decoration:none}
IMG {margin:20px}

body {
  background-image: url('back_xs.jpg');
  padding: 20px;
  font-family: "Palatino Linotype", Times, serif;
  font-size: 15px; 
  color: #000000;
  background-color: #CDC7B1; /*page background color */
  height:100%
  }
  
hr {
height: 1px;
color:#782F26;
background-color:#782F26;
width: 90%;
}

.body {padding-left:2em}

/*style for entire page */
#wrap{
background-image: url('fore_xs.jpg');
border: 7px solid #FFF7F7;
background-color: #E7E3D8; /*table background color */
width:960px; 
}

/*style for the content between the header and footer only*/
.content {
padding-left:25px;
padding-right:25px;
height:100%;
}

div.box {
background-color: #FFFAF0;
padding: 10px 20px;
margin-top: 40px;
margin-bottom: 40px;
border: 4px double #DCDCDC;
}

.head {
color: white; 
font-size:15pt; 
text-align:left; 
padding-right: 1em;
padding-left:1em; 
margin-top: 0ex; 
padding-top: 1ex; 
padding-bottom: 1ex}

.para {
color:#000000; 
margin-top: 2ex; 
margin-bottom:2ex; 
font-size: 12pt; 
padding-left:2em; 
padding-right:2em}

/*styling for bibl entry*/
.bibl {
background-color: #FFFAF0; 
border: 4px double #DCDCDC;
padding-left: 1em; 
padding-right: 1em; 
padding-top: 1em; 
padding-bottom:1em; 
margin-top:2ex; 
margin-left: 4em; 
margin-right: 4em}

p.notepara {
color: #531B15; 
margin-left: 4em; 
margin-right: 4em;
font-size: 11pt}

.search_box{
margin-bottom:8px;
}

.search_results_table{
width:100%;

}

/*each page of results is styled to put padding between the results as a whole and the paging rows*/
.search_results{
padding-top:20px;
padding-bottom:20px;

}

/*individual search results have padding*/
.result_even{
padding-top:10px;
padding-bottom:10px;
padding-left:5px;
padding-right:5px;
}

/*individual search results have padding bgcolor*/
.result_odd{
padding-top:10px;
padding-bottom:10px;
padding-left:5px;
padding-right:5px;
background-color:#DAD5C0;
}


/*the input box for each form has a bottom margin to put space between the text box and label*/
.search_box{
margin-bottom:8px;
}


.smallhead {
color: white; 
font-size: 12pt; 
margin-top:1ex; 
margin-bottom:1ex}

.smallpara {
margin-bottom:2ex; 
padding-left:2em; 
padding-right:2em; 
color: #000000; 
font-size: 10pt}

.foot {
color: black; 
font-size: 10pt; 
text-align:left; 
padding-left:1em; 
background-color: #E7E3D8; 
margin-top: 0ex; 
padding-top: 1ex; 
padding-bottom: 1ex}

#head {
margin: 20px 75px;
}

#headImg {
width: 330px;
}

#headImg img {
margin: 0 5px;
}

#headTitle {
width: 460px; 
color: #991818;
font-size: 22pt;
font-weight: bold;
}

#byline {
margin-left: 630px; 
margin-top: -5px; 
}

.headBorder {
background:transparent url(banner_border.jpg) repeat-x scroll left bottom; 
width: 780px; 
height: 20px;
}

p#subheading {
font-size:10pt;
text-align: center;
background: transparent;
border: none;
}

.navigation {
color: black; 
font-size: 10pt;
width:700px; 
text-align:left; 
border-style: solid; 
border-color: black; 
border-width:1px; 
padding-left:1em; 
background-color: #E7E3D8; 
margin-bottom: 2ex; 
margin-top: 0ex; 
padding-top: 1ex; 
padding-bottom: 1ex
}


#navbar {
text-align: center;
}

#navbar a {
padding-left: 10px;
padding-right: 10px;
margin-left: 0px;
font-size:  14px;
}

#subNav {
  text-align: center;
}

#subNav a {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0px;
  font-size: 10pt;
  color: #991818;
}

.head1 {
color: #531B15; 
font-size: 15pt; 
padding-left:1em; 
margin-bottom: 2ex; 
font-weight:bold;
margin-top: 1em;
}

.head2 {
color: #B22222; 
font-weight: bold; 
font-size: 12pt; 
margin-left: 2em;
margin-top: 2ex; 
margin-bottom: 2ex; 
text-align: left
}

.right {
text-align: right; 
margin-right: 3em
}

.listhead {
font-weight:bold; 
font-size:12pt;
text-align:center
}

.paracenter {
text-align: center
}

.headfoot a {
margin-left: 120px;
}

.list {
margin-left: 2em; 
margin-right: 2em; 
font-size:12pt
}

.note {
color: #000033; 
line-height: 14pt; 
margin-left: 8em; 
margin-right: 6em;
margin-top: 1ex; 
font-size: 10pt}

.smallcaps {
text-transform:uppercase; 
font-size:10pt
}

.smallcaps2 {
text-transform:uppercase; 
font-size:14pt
}

/*highlighted search text is yellow*/
.searchword {
background-color:yellow;
color:black;
}
td.mosaic {
padding-left: 42px; 
padding-right: 42px;
padding-bottom: 0px;
} 

tr.spacer {
height: 30px;
}

td.mosaic img {
height: 80px; 
width: 75px; 
margin: 0px;
padding: 0px;
border: none;
border: 1px solid #FFF7F7;
}

.yui-skin-sam .yui-dt table {
  font-family: "Palatino Linotype",Times,serif;
}